<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Latest River Reports:</h3>
      <% reports.forEach(function(report) { %>
        <h4>
          <form method="POST" action="/reports/<%= report._id %>?_method=DELETE">
            <a href="/reports/<%= report._id %>">
              <%= report.title + ' - ' + report.completed %>
            </a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>
    <a href="/reports/new" class="btn btn-primary">New</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
