<div class="form-group">
  <label for="firstname">First name</label>
  <input type="text"
         class="form-control"
         name="firstname"
         value="<%= currentUser.name.first %>">
</div>

<div class="form-group">
  <label for="lastname">Last name</label>
  <input type="text"
         class="form-control"
         name="lastname"
         value="<%= currentUser.name.last %>">
</div>

<div class="form-group">
  <label for="hometown">hometown</label>
  <input type="text"
         class="form-control"
         name="hometown"
         value="<%= currentUser.hometown %>">
</div>

<div class="form-group">
  <label for="favoriteriver">Favorite River</label>
  <input type="text"
         class="form-control"
         name="favoriteriver"
         value="<%= currentUser.favoriteriver %>">
</div>
