<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main class="reportindex">
    <div>
      <h3 class="sub">Your Profile</h3>

      <div class="reportbody well">
        <p><b>First name: </b><%= currentUser.name.first %></p>
        <p><b>Last name: </b><%= currentUser.name.last %></p>
        <p><b>Location: </b><%= currentUser.hometown %></p>
        <p><b>Favorite River: </b><%= currentUser.favoriteRiver %></p>
      </div>
      <br />
    </div>
    <br />
    <a href="profile/edit" class="btn btn-danger btn-sm">Edit</a>
    <a href="/" class="btn btn-primary btn-sm">Home</a>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
