<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <div class="title">
        <h1 id="maintitle"><%= title %></h1>
        <h3 class="sub">Whitewater beta, stories, and media</h3>
    </div>
    <div class="backingwrap">
    <div class="backing">
        <div id="covers">
            <a href="#"></a><img class="cover" class="img-responsive" src='images/cover4.jpg' alt='cover' /></a>
            <img class="cover" class="img-responsive" src='images/cover.jpg' alt='cover' />
            <img class="cover" class="img-responsive" src='images/cover3.jpg' alt='cover' />
            <img class="cover" class="img-responsive" src='images/cover1.jpg' alt='cover' />
            <img class="cover" class="img-responsive" src='images/cover2.jpg' alt='cover' />
        </div>

        <div class="description">
            <p>
                Welcome to River Reports! Share your whitewater info and experiences with others or keep a personal log of your adventures. Reports allow boaters to share the latest river conditions and provide information on lesser known rivers and creeks. The stories section is a place to record tales that might otherwise be left untold outside of the campfire circle!
            </p>
        </div>
    </div>
    </div>
      <% if (!currentUser) { %>
        <div class="buttons">
            <a href="/signup"><button type="button" class="btn btn-primary btn-lg mp" href="signup">Sign up</button></a>
            <a href="/login"><button type="button" class="btn btn-primary btn-lg mp">Log in</button></a>
            <!--code for buttons that gets rid of line, but messes up alignment
            <a href="/signup" class="btn btn-primary btn-lg mp" role="button">Sign up</button></a>
            <a href="/login" class="btn btn-primary btn-lg mp" role="button">Log in</button></a>-->
        </div> <% } else { %> <div class=buttons>
          <p id= "welcome">
            Welcome back <%= currentUser.local.email%>!
          </p>
        </div> <% } %>


    <div class="footer">
        <% include partials/footer %>
    </div>
</body>
<script type="text/javascript" src='/javascripts/jquery.min.js' defer></script>
<script type="text/javascript" src='/javascripts/bootstrap.min.js' defer></script>

</html>
