<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main class="new">
    <h3 class="sub">EDIT</h3>
    <form class="story-form" action="/stories/<%= story._id %>?_method=PUT" method="post">
      <% include _storyform %>
      <br />
      <a href="/stories/<%= story._id %>" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
