body {
  background-color: #00334E;
  margin-top: 65px;
}
p {
  color: #BCBCBC;
}
a {
  color: #145374;
}
.title {
  color: #BCBCBC;
  text-align: center;
}
.maintitle {
  font-size: 75px;
  font-family: 'Permanent Marker', cursive;  text-align: center;
}
.sub {
  color: #BCBCBC;
  margin-bottom: 30px;
}
.backing {
  background-color: #145374;
  width: 100vw;
  padding-bottom: 1px;

}
.glyphicon {
  font-size: 20px;
  padding: 15px;
}
.navtext {
  color: #BCBCBC;
}
.navbar {
  background-color: #474747;
  color: #00334E;
}
.description {
  color: #BCBCBC;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 640px;
}
.buttons {
  text-align: center;
  margin: 10px;
}
.form-group {
  color: #BCBCBC;
}
.form-control {
  width: 400px;
}
.formcontainer{
  display: flex;
  justify-content: center;
}
.formsubmit {
  margin-left: 150px;
}
.beta {
  height: 100px;
}
.mp{
  background-color: #474747;
  color: #BCBCBC;
  font-size: 28px;
  margin: 25px;
  padding: 10px 25px 10px 25px;
  display: inline;
  outline: 0;
}
.covers {
  display: flex;
  justify-content: center;
}
.cover {
  height: 190px;
  width: auto;
  margin: 4px;
  margin-top: 40px;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: #7894A3;
}
.reporttitle {
  color: #BCBCBC;
}
.well {
  background-color: #BCBCBC;
}
